
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-strict-di>
<head>
    <link rel="stylesheet" type="text/css" href="angular-datepicker.css" >
    <link rel="stylesheet" type="text/css" href="normalize.css" >
    <link rel="stylesheet" type="text/css" href="foundation.css" >
    <link rel="stylesheet" type="text/css" href="webform.css" >

    <title>This is the Title</title>
    <meta name="Publisher" content="EEA, The European Environment Agency" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="angular.min.js" ></script>
    <script src="angular-datepicker.js"></script>
    <script src="elastic.js"></script>
    <script src="spin.min.js"></script>
</head>
<body>

	<form name="form1" action="/api/test">
		<fieldset name="ConcludedTransferRecord" xsdmap="ConcludedTransferRecord">
			<input name="AEA" ng-model="form1.AEA" xsdmap="AEA" type="number">
			<select name="TransferringMemberState" ng-model="form1.TransferringMemberState" xsdmap="TransferringMemberState"></select>
			<select name="AcquiringMemberState" ng-model="form1.AcquiringMemberState" xsdmap="AcquiringMemberState"></select>
			<input name="AEA-Price" ng-model="form1.AEA-Price" xsdmap="AEA-Price" type="number">
			<input name="TransferAgreementDate" ng-model="form1.TransferAgreementDate" xsdmap="TransferAgreementDate" type="date">
			<select name="ExpectedTransactionYear" ng-model="form1.ExpectedTransactionYear" xsdmap="ExpectedTransactionYear"></select>
			<textarea name="Other" ng-model="form1.Other" xsdmap="Other"></textarea>
		</fieldset>
		<button ng-click="addRow('ConcludedTransferRecord')"  ng-model="form1.addConcludedTransferRecord" group="ConcludedTransferRecord">Add Row</button>
	</form>

</body>
</html>
