
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>This is the Title</title>

    <script src="angular.min.js" ></script>
    <script src="angular-datepicker.js"></script>
    <script src="jquery.js"></script>
    <script src="elastic.js"></script>
    <script src="spin.min.js"></script>

    <link rel="stylesheet" type="text/css" href="angular-datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="normalize.css"/>
    <link rel="stylesheet" type="text/css" href="foundation.css"/>
    <link rel="stylesheet" type="text/css" href="webform.css"/>
</head>
<body>

	<form name="form1" action="/api/testasdasd">
		<fieldset name="ConcludedTransferRecord" xsdmap="ConcludedTransferRecord">
			<input name="AEA" ng-model="form1.AEA" xsdmap="AEA" type="number">
			<select name="TransferringMemberState" ng-model="form1.TransferringMemberState" xsdmap="TransferringMemberState"></select>
			<select name="AcquiringMemberState" ng-model="form1.AcquiringMemberState" xsdmap="AcquiringMemberState"></select>
			<input name="AEA-Price" ng-model="form1.AEA-Price" xsdmap="AEA-Price" type="number">
			<input name="TransferAgreementDate" ng-model="form1.TransferAgreementDate" xsdmap="TransferAgreementDate" type="date">
			<select name="ExpectedTransactionYear" ng-model="form1.ExpectedTransactionYear" xsdmap="ExpectedTransactionYear"></select>
			<textarea name="Other" ng-model="form1.Other" xsdmap="Other"></textarea>
		</fieldset>
		<button ng-click="addRow('ConcludedTransferRecord')"  ng-model="form1.addConcludedTransferRecord" group="ConcludedTransferRecord">Add Row</button>
	</form>

</body>
</html>
