@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,300,600,700&subset=latin,greek);

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*user-select: none;*/
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*user-select: none;*/
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0a0a0a;
    background: none;
    padding-bottom: 6.25rem;
  	height: auto;
}

a, a:hover, a:active, a:focus   {
    text-decoration: none;
    color: #006699;
}

input:focus, .form-control:focus { 
    outline: none;
    border: solid 1px transparent;
}

ul, li {
  list-style-type: none;
  user-select: none;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, select { 
	border-radius: 9px;
}

:focus,
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none;
}

.callout.primary {
    background-color: #006699;
    color: #fff;
}

.callout.primary h2 {
    color: #ccc;
}