@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,300,600,700&subset=latin,greek);

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*user-select: none;*/
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*user-select: none;*/
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0a0a0a;
    background-color: none;
    padding-bottom: 6.25rem;
  	height: auto;
}

a, a:hover, a:active, a:focus   {
    text-decoration: none;
    color: #006699;
}

input:focus, .form-control:focus { 
    outline: none;
    border: solid 1px transparent;
}

ul, li {
  list-style-type: none;
  user-select: none;
}

input,
textarea, select { 
	border-radius: 5px;
}

:focus,
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none;
}

input, select, textarea {
    background-color: #fff !important;
    border: 1px solid rgba(0,0,0,0.07) !important;
    border-radius: 5px !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.07) inset !important;
}

input:focus {
    border-color: rgba(0, 102, 153, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 102, 153, 0.075) inset,0 0 8px rgba(0, 102, 153,0.6) !important; 
    outline: 0 none !important;
}

.field-caption {
	font-size: 18px;
	font-weight: 700;
}

.field-caption::after {
	content: ':';
}

.top-bar, .top-bar ul {
    background-color: #A6CFD2;
}

.top-bar, .top-bar a {
    color: #FFFFFF;
}

.callout.primary {
    background-color: #006699;
    color: #fff;
}

.callout.primary h2 {
    color: #ccc;
}

#container {
	background-color: #F7F8F8;
}
