@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,300,600,700&subset=latin,greek);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: none;
    padding-bottom: 100px;
    height: auto;
    padding: 0 1em;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #006699;
}

input:focus,
.form-control:focus {
    outline: none;
    border: solid 1px transparent;
}

ul,
li {
    list-style-type: none;
    user-select: none;
}

:focus,
.btn:active.focus,
.btn:focus {
    outline: none;
}

input,
select,
textarea {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    outline: 0 none !important;
    color: #333!important;
}

input.ng-invalid:focus,
select.ng-invalid:focus,
textarea.ng-invalid:focus {
    border-top: none!important;
    border-right: none!important;
    border-color: #999999;
    border: 1px solid #F15A24!important;
    box-shadow: 0px 0px 26px -5px #F15A24!important;
    outline: 0 none !important;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
textarea {
    width: 100%;
    height: 36px;
    min-height: 36px;
    padding: 5px 4px;
    color: #777;
}

[type=button],
[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
}

button {
    min-width: 200px;
    line-height: 20px;
    padding: 10px 30px;
    background-color: rgba(138, 156, 58, 1);
    border: none;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    will-change: transform;
    transition: all .2s ease-in-out;
}

button:hover::before,
button:hover {
    background-color: rgba(0, 102, 153, 0.5);
}

fieldset {
    clear: both;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(147, 147, 147, 0.1);
    border-image: initial;
    border-radius: 3px;
    padding: 0px;
}

.radio-label {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    float: left;
    margin: 5px;
    padding: 5px;
}

.radioclass {
    border: inset 1px rgba(100, 100, 100, 0.1);
    min-height: 55px;
    background-color: rgba(100, 100, 100, 0.01);
    border-radius: 0 15px;
}

.checkboxclass {
    padding: 4px 10px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 0;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
.submitted input.ng-invalid,
.submitted select.ng-invalid,
.submitted textarea.ng-invalid,
.invalidTab input.ng-invalid {
    background-color: #faa085;
}

::placeholder {
  color: #999;
  font-size: 12px;  
  font-weight: 400;
}

.ng-touched.ng-invalid::placeholder{
  color: #333!important;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #333;
}

.callout >:first-child {
    margin-top: 0;
}

.callout >:last-child {
    margin-bottom: 0;
}

.callout.primary {
    background-color: #d7ecfa;
    color: #333;
}

.callout.primary {
    margin-top: 50px;
    background-color: #fff;
    color: #006699;
}

.callout.primary h1 {
    font-size: 30px;
}

.callout.primary h2 {
    color: #8a8a8a;
    font-size: 26px;
}

#container {
    max-width: 100%!important;
}

.slanguage {
    position: absolute;
    right: 10px;
    width: auto;
    margin: -40px 4px;
}

select.slanguage:focus {
    box-shadow: 0 0px 0px!important;
}

.eeaform {
    padding: 50px 30px 10px;
}

.group-area {
    clear: both;
    margin-bottom: 30px;
}

.subgroup {
    border-radius: 5px;
    margin: 20px 10px;   
}

.formitem {
    float: left;
    display: flex;
    color: rgb(255, 255, 255);
    width: 33.3%;
    min-width: 33.3%;
    height: 65px;
    padding: 6px 4px;
    margin-bottom: 8px;
    transition: background-color 0.4s ease-in-out;
}

.formitem input,
.formitem textarea,
.formitem select {
    border-radius: 5px!important
}

.formitemval {
    color: #333;
}

button.formitemedit {
    width: 24px;
    height: 24px;
    line-height: 24px;
    min-width: auto;
    background-color: #ddd;
    padding: 1px;
    margin: 0 4px 0 0;
}

.checkboxclass .formitemedit {
    margin-left: -10px;
}

.field-caption {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    font-weight: 700;
    text-align: right;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    color: #333;
    margin-right: 4px;
}

.field-caption::after {
    display: inline-block;
    content: ":";
    margin-right: 10px;
}

.top-form-left {
    float: left;
    width: 70px;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.top-form-left .index {
    display: inline-block;
    color: #497A95;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}

.top-form-right {
    float: right;
}

.top-form-right h2 {
    font-size: 18px;
    text-align: left;
    margin-left: 14px;
    font-weight: 700;
    padding: 0.2em 0.4em;
    background-color: rgb(240, 244, 245);
    color: #000000;
    border-top: 1px solid rgb(224, 231, 215);
}

.multiple-index {
    float: left;
    width: 40px;
    background-color: #497A95;
    color: #497A95;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    margin-top: 2px;
    border-radius: 3px 0 0 3px;
    opacity: 0.96;
}

.multiple-index .index {
    display: inline-block;
    margin-left: -6px;
    color: #497A95;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}

.multiple-index-right {
    float: right;
    width: calc(100% - 70px);
    height: 50px;
    background-color: none;
}

.multiple-index-right h2 {}

.submitbutton {
    display: block;
    margin: 50px auto;
    font-weight: 600;
    padding: 8px;
    background-color: #449d44;
    border-color: #398439;
    height: 40px;
}

.submitbutton::after {
    position: absolute;
    right: 10px;
    float: right;
    content: '>>';
    opacity: .5;
}

.required-msg {
    position: absolute;
    display: block;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 250px;
    background-color: #F15A24;
    padding: 1px 10px 1px 10px;
    border-radius: 10%;
}

.rowbutton::before {
    float: right;
    margin: 0 8px 0 -16px;
    width: 30px;
    height: 30px;
    line-height: 14px;
    background-color: #fff;
    color: rgba(138, 156, 58, 1);
    padding: 10px;
    font-size: 12px;
    border-radius: 50%;
    font-family: FontAwesome;
    content: '\f067';
}

.rowbutton {
    float: right;
    display: block;
    font-size: 12px;
    margin-right: 20px;
    background-color: rgb(180, 203, 76);
    color: #fff;
    border: none;
    padding: 6px;
    height: 42px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    line-height: 32px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.deleterowbutton {
    cursor: pointer;
    background-color: rgba(241, 90, 36, .2);
    width: 40px;
    padding: 0;
    min-width: auto;
    font-size: 12px;
    position: absolute;
    opacity: 0.5;
    margin-left: 15px;
    margin-top: 55px;
}

.deleterowbutton:hover {
    opacity: 1;
    background-color: rgb(241, 90, 36);
}

.deleterowbutton::before {
    float: left;
    margin: 8px 4px;
    width: 30px;
    height: 30px;
    line-height: 12px;
    background-color: #fff;
    color: rgb(241, 90, 36);
    padding: 10px;
    font-size: 12px;
    border-radius: 50%;
    font-family: FontAwesome;
    content: '\f1f8';
}

.footer {
    clear: both;
    font-size: 12px;
    width: 100%;
    background-color: #cedc32;
    color: #fff;
}